.form-title {
    color: white;
    font-size: 52px;
    margin: 10px 0;
    text-align: center;
}

.form-wrapper {
    padding: 0 50px;
}

.input-block {
    display: flex;
    flex-direction: column;
}

.input-block label {
    font-size: 22px;
    margin: 10px;
    color: white;
}

.input-block input,
.input-block textarea {
    max-width: 500px;
    font-size: 22px;
    padding: 12px 7px;
    border: 0;
    border-radius: 8px;
}

#confirmar {
    float: right;
    padding: 10px 15px;
    font-size: 23px;
    color: white;
    border: 1px solid #00000033;
    border-radius: 10px;
    background-color: #00000033;
    cursor: pointer;
}

#confirmar:hover {
    background-color: #ffffff33;
}